@import url('./../components/color-picker.css');

.m-hidden {
  display: none;
}

#App {
  height: 100vh;
  width: 100vw;
  background: #171717;
  color: #ababab;
}

#App ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#App .content {
  display: flex;
  align-items: center;
  height: 100%;
}

#App h2 {
  margin: 0;
}

#App aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100vh;
  background: #252525;
}

#App nav li {
  padding-bottom: 15px;
}

#App nav .action-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#App nav .action-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

#App main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.action-icon {
  width: 32px;
  height: 32px;
  fill: #05b4f5;
}

.action-icon__small {
  width: 22px;
  height: 22px;
}

#App .b-cropping-action {
  position: relative;
}

#App .b-cropping-action ul {
  position: absolute;
  left: 52px;
  top: -4px;
  background: #252525;
  padding: 5px;
}

#App .b-cropping-action ul li:last-child {
  padding-bottom: 0;
}
