#ColorPicker .color-preview {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  outline: none;
}

#ColorPicker .color-preview.selected {
  border: 4px solid antiquewhite;
}

#ColorPicker li {
  display: flex;
  align-items: center;
  justify-content: center;
}
